.filterContainer {
    padding: 20px;

    .form-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 20px;
        gap: 10px;
        align-items: center;

        .closeIcon{
            margin: auto;
            cursor: pointer;
            height: 0px;
            svg{
                height: 20px;
                color: #e23e3e;
            }
        }
    }
    .addIcon{
        width: 100%;
        display: flex;
        span{
            font-weight: 700;
            margin: auto;
            cursor: pointer;
            color: #e23e3e;
            font-size: 25px;
        }
    }
}