.review-list {
    margin: 3% 12%;

    .title {
        font-weight: 700;
        font-size: 1.5rem;
    }

    .user {
        text-align: left;
        font-weight: 600;
        text-transform: capitalize;
    }

    .timestamp {
        font-size: 12px;
        color: gray;
        text-align: left;
    }

    .form-field {
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 10px;

        &:focus {
            outline: none;
        }
    }

    .review-title {
        display: flex;
        justify-content: space-between;

        .actions {
            display: flex;
            gap: 5px;
        }
    }
    .rating-container{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}